:root{
    /*Colors*/
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --warm-black:#201E1C;
    --warmer-black:#282623;
    --cream-white:#e5e5e5;
    --off-white:#FAF8F7;
    --white:#FFFFFF;
    --gray:#B5B0AC;
    --dark-gray:#757575;
    /*Fonts*/
    --font-intel:'Inter', sans-serif;
    --font-sans:'DM Sans', sans-serif;
}

/*GLOBALES*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
    font-family: var(--font-sans);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* HEADER*/

header{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    text-align: center;
}

header img{
    width: 15rem;
    height: 2.4rem;
    margin-top: 4rem;
}

.header_title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 3rem;
    /* text-align: center; */
    
}
.header_title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.header_title-container p{
    margin:3rem 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header_button{
    position: relative;
    bottom:-4rem;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin: 0 auto;
    width: 22.9rem;
    height: 4.8rem;
    padding: 1.5rem;
    border-radius: .4rem;
    background:var(--off-white);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--warm-black);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header_button span{
    display: inline-block;
    width:1.3rem;
    height:.8rem;
    background-image: url('../assets/icons/Vector.svg');
}

/*MAIN*/

main{
    width: 100%;
    min-width: 32rem;
    height: auto;
    background-color:var(--cream-white);
}

/*SECTION 1*/
.main_exchage-container{
    width:100%;
    height: auto;    
    padding: 2.4rem;
    text-align: center;
}

.main_exchage-container .backgroundImg{
    width: 20rem;
    height: 20rem;
    margin: 2rem  auto 4rem ; 
    background-image: url('../assets/images/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main_exchage-container--title{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.main_exchage-container--title h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 2rem;
    color: var(--warm-black);
}

.main_exchage-container--title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--dark-gray);
}
/*TABLE*/

.main_tables-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    width: 90%;
    max-width: 70rem;
    margin: 4rem auto;
}

table{
    min-width:20rem;
    height: 16rem;
    margin: 0 auto; 
    border-radius: 1rem;
    background-color: var(--white);
    width: 100%;
}
tbody{
    padding:1rem;
    font-family: var(--font-intel);
    background: var(--white);
}
table caption{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--bitcoin-orange);
    text-align:start;
    margin-bottom: 1.5rem;
}
table th{
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--gray);
    text-align: left;
}
table td{
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--dark-gray);
    text-align: right;
}
table td span{
    margin-left:1rem;
}
.currency-table,.corredoras-table{
    width: 80%;

}
.right-row{
    transform: rotate(90deg);
}
.left-row{
    transform: rotate(-90deg);
}









